# private protect
venv/blockchain/blockchain/settings.py

# tmp file
blockchain/bcinfo/
venv/blockchain/blockchain/bcinfo/

# python cache
blockchain/module/__pycache__/
blockchain/__pycache__/
module-inject/module/__pycache__
venv/blockchain/blockchain/__pycache__/


# idea config file
venv/blockchain/.vscode/
.vscode/
.idea/